<!-- <p>opentickets works!</p> -->

    <section class="mat-typography" layout-align="center center" class="opentickets">
        <h1 class="display-4" class="body-2,mat-body-strong" >List of open Tickets</h1>

        <mat-list role="matlist">
                <span flex>
                <mat-list-item *ngFor="let list of tickets" class="listitem" class="mat-elevation-z2">Item 1</mat-list-item>
                <mat-list-item role="listitem" class="mat-elevation-z2">Item 2 item3</mat-list-item>
                <mat-list-item role="listitem" class="mat-elevation-z2">Item 3</mat-list-item>
                </span>
        </mat-list>
        
    </section>
    