<!-- <p>opentickets works!</p> -->

    <section class="mat-typography opentickets">
        <h1 class="display-4" class="body-2 mat-display-1" >List of open Tickets</h1>

        <mat-grid-list cols="4" rowHeight="60px" *ngFor="let list of tickets" class="mat-elevation-z2" >
                
                <mat-grid-tile colspan="1" rowspan="2" >
                   
                        <h3 class="mat-body-strong">{{ list.description }}</h3>
                    
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="2">
                    <h3 class="mat-body-strong">{{ list.timeCreated | date }}</h3>
                </mat-grid-tile>
               
                <mat-grid-tile colspan="1" rowspan="2">
                    <mat-chip-list *ngFor="let tag of list.tags">
                        <mat-chip>{{ tag }}</mat-chip>
                    </mat-chip-list>
                </mat-grid-tile>

                 <mat-grid-tile colspan="1" rowspan="2" >  
                    <button mat-stroked-button color="primary">Assign Me</button>
                </mat-grid-tile>
                
                    
                
               
        </mat-grid-list>
        
    </section>
    